[submodule "cleanroom-whisper-docs"]
	path = cleanroom-whisper-docs
	url = /Users/andfranklin/Projects/airgap-whisper-docs
[submodule "airgap-deploy-docs"]
	path = airgap-deploy-docs
	url = /Users/andfranklin/Projects/airgap-deploy-docs
[submodule "airgap-transfer-docs"]
	path = airgap-transfer-docs
	url = /Users/andfranklin/Projects/airgap-transfer-docs
[submodule "source/sphinx-theme"]
	path = source/sphinx-theme
	url = /Users/andfranklin/Projects/sphinx-theme
