[submodule "cleanroom-whisper-docs"]
	path = cleanroom-whisper-docs
	url = /Users/andfranklin/Projects/cleanroom-whisper-docs
[submodule "airgap-deploy-docs"]
	path = airgap-deploy-docs
	url = /Users/andfranklin/Projects/airgap-deploy-docs
[submodule "airgap-transfer-docs"]
	path = airgap-transfer-docs
	url = /Users/andfranklin/Projects/airgap-transfer-docs
[submodule "cleanroom-theme"]
	path = source/theme
	url = git@github.com:CleanroomLead/cleanroom-theme.git
